 body { 
		padding-top: 75px;
		font-family: tahoma, helvetica, arial, sans-serif;
		font-size: 13px;
		background: url('../images/weather-report.jpg') no-repeat fixed;
	   -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
        }
.jumbotron{
	border:1px solid grey;
	
}
.loader {
	position: absolute;
	left: 35%;
	top: 40%;
	margin:0px auto;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
table {
	font-size: 16px;
	font-weight: 300;
}
